*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/* Latihan Satu */

.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama{
    flex: 3;
    order: 2;
}

.sidebar-satu{
    flex: 1;
    order: 1;
}

.sidebar-dua{
    flex: 1;
    order: 3;
}

/* Latihan Dua */

.container-dua{
    max-width: 800px;
    
}

.layanan{
    
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

.layanan.satu {background-color: rgba(119, 119, 255, 1);}
.layanan.dua {background-color: rgb(103, 216, 103);}
.layanan.tiga {background-color: rgb(255, 124, 124);}

/* Latihan 3 */
.container-tiga{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  

.thumbnail {
    width: 50%;
}

.thumbnail img{
    width: 100%;
}

/* Akhir Latihan 3 */

/* Latihan 4 */
.container-empat{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
    width: 75%;
    
}

.card .header{
    height: 150px;
    background-color: #666;
}

.card .content{
    text-align: center;
    padding-bottom: 20px;
}

.card.besar{
    transform: scale(1.12);
}

/* Akhir Latihan empat */

/* Latihan 5-tanpa flex */
.container-lima{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    text-align: center;
    line-height: 100px;
     margin: 250px auto;
     transform: translateY(-50px);
}

/* Latihan 5 - Dengan Flex */
.container-lima-flex{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
}

.kotak-satu{
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    text-align: center;
    line-height: 100px;
     margin: auto;
}


/* Responsive */
@media(min-width: 600px){
    .container-dua{
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }

    .layanan{
        width: 30%;
    }

    .thumbnail{
        width: 25%;
    }

    .container-empat{
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card{
        flex: 1;
    }
}

